@import url(https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600;800;900&display=swap);

body{
	margin: 0;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 20px;
	align-content: flex-start;
	font-family: 'Montserrat Alternates', sans-serif;
	font-size: 17px;
}
h1, h2, h3{
	width: 100%;
	text-align: center;
	margin: 0;
}
h2{
	color: red;
	letter-spacing: 5px;
	font-weight: 900;
}
h3{
	color: purple;
	letter-spacing: 5px;
}
a{
	display: block;
	font-style: italic;
	text-decoration: none;
	font-size: 1.2em;
	text-align: center;
	color: #000;
	font-weight: 500;
}
.frame-child-100{
	width: 100%;
}